# Node modules
/node_modules

# Build output
/dist
/build

# Environment variables
.env

# Prisma migrations
/prisma/migrations

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs

# IDE and OS files
.vscode/
.DS_Store